.container {
    background-color: #370617;
    width: 1152px;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}
.card {
    background-color: #F48C06;
    width: 468px;
    height: 160px;
    margin: 10px;
    border-radius: 4px;
}
/* 
.content { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
} */

.card-first {
    display: flex;
    align-items: flex-end;
}

.red-box-one {
    width: 78px;
    height: 78px;
    background: #9D0208;
    border-radius: 4px;
    margin: 20px;
}

.card-second {
    display: flex;
    justify-content: center;
}

.red-box-two {
    width: 78px;
    height: 120px;
    background-color: #9D0208;
    border-radius: 4px;
    margin: 20px;
}

.card-third {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.red-box-three {
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 4px;
    margin: 20px; 
}

.card-fourth {
    display: flex;
    
}

.red-box-four {
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 4px;
    margin: 20px; 
}